paramiko
Flask

fastapi
uvicorn[standard]

pydantic
redis

numpy
scipy
scikit-learn
pandas

torch
torchvision

transformers
sentence-transformers
huggingface_hub
tokenizers
safetensors

tqdm
PyYAML
joblib
requests